#portfolio_body{
	padding-left: 100px;
	padding-right: 100px;

	min-height: 500px;
}


.mythumbnail > div > img {
	opacity: 0.6;
	/*border-style: none;*/
	padding: 0px;
	border-radius: 0px;

}

.mythumbnail > div > img:hover{
	opacity: 1;
	cursor: pointer;
}

.mythumbnail > .caption {
	padding: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.mythumbnail {
	height: 100%;
}
