.skill{
	font-size: 14px;
	margin-right: 4px;
	color:#848484;
}

.about-body{
	/*padding-right: 100px;
	padding-left: 100px;*/
	min-height: 500px;
}

p {
	font-family: Verdana, Arial, sans-serif;
}

#box-img{
	max-height: 350px;


}