@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.navbar-default{
	font-family: Montserrat, sans-serif;
	/*background-color: rgba(255,255,255,0.6) !important;*/
	background-color: rgb(255,255,255) !important;
	line-height: 1.42857143 !important;
	letter-spacing: 2px;
	border-radius: 0;
	/*background-color: red;*/
	/*opacity: 0.6;*/
	color:black !important;
}

.navbar-default .navbar-brand{
	color: grey;
	padding-top: 24px;
	padding-bottom: 22px;
}

.navbar-default .navbar-brand:hover{
	color:black;
	cursor: pointer;
}

.navbar-default .navbar-nav>li>a{
	/*transition: 0.3s ease-out;*/
	color: grey !important;
	padding-right:10px;
	padding-left:10px;
	padding-top: 24px;
	padding-bottom: 24px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.navbar-default .navbar-nav>li>a:hover{
  	color:black !important;
  	box-shadow: inset 0px -5px black;
}

.navbar-default .navbar-nav>.active>a {
  	background-color: white !important;
}

@media only screen and (max-width: 768px){

.navbar-default .navbar-nav>li>a:hover{
  	color:black !important;
  	box-shadow: inset 5px 0px black;
  	padding-left: 20px;
}

.navbar-default .navbar-nav>li > a {
	/*color:red !important;*/
	padding: 10px 10px ;
}

.navbar-default .navbar-toggle {
    -webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	border:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	color: white;
	border-radius: 0px;
}


}