#Navbar > ul {
	padding: 14px;
	margin-bottom: 0px;
	box-shadow: -1px 2px 1px -1px rgba(0,0,0,0.30);
	z-index: 9999;
}

#Navbar > ul > li {
	display:inline;
	padding: 12px;
}

#Navbar > ul > li > a {
	color:black;
}

#Navbar{
	text-align: right;
}