#background-image {
	/*background-image: url("../image/app/texturedpaper.png");*/
	/*background-image: url('../image/header/greyzz.png');*/
  /*background-color: #f6f6f6;*/
  
}

html {
  position: relative;
  min-height: 100%;
  /*background-color: #f6f6f6;*/
  /*overflow-y: scroll;*/

}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
  padding-top: 70px;
  clear: both;
}

@media only screen and (max-width: 768px){

  body {
    /* Margin bottom by footer height */
    margin-bottom: 300px !important;
    padding-top: 70px !important;
    clear: both !important;
    background-color: grey;
  }

}