#footer{
	/*background-color: #f6f6f6;*/

	background-color: black;
	color:#848484;
	font-family: Verdana, Arial, sans-serif;
	margin-top: 100px;
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	min-height: 160px;
}

.footerTitle {
	color: white;
	/*font-family: 'Droid Serif', Verdana, Arial, sans-serif;*/
	font-family: Montserrat, sans-serif;
}

.icon {
	margin: 5px;
	color: #848484;
}

.icon:hover{
	cursor:pointer;
}

.copyright {
	margin-top: 20px;
	/*padding-bottom: 10px;*/
}

.linkedin-square{
	margin-left: 0px;
}

.linkedin-square:hover{
	color:rgb(0,160,220);
}

.github-square{

}

.github-square:hover{
	/*color:rgb(0,0,0);*/
	color:white;
}

.facebook-square{

}

.facebook-square:hover {
	color:rgb(59,89,152);
}

.twitter-square{

}

.twitter-square:hover{
	color:rgb(0, 172, 237);
}
