.skill-bar{
	margin-top: 20px;
	text-align: center;
}
.skill-bar > spam {
	margin-right: 20px;
}

p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h4{
	font-family: Montserrat, sans-serif;
}